:has(.login-modal-open) {
    cursor: default;
    
    .login__modal--wrapper,
    .login__modal--wrapper * {
      pointer-events: all;
      cursor: pointer;
    }
  
    * {
      pointer-events: none;
    }
  
    .login-modal,
    .login-modal * {
      pointer-events: all;
      cursor: pointer;
    }
  }
  
  .login-modal {
    position: fixed;
    z-index: 1000;
    
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
      cursor: default;
    }
  
    &-content {
      position: relative;
      z-index: 1001;
      cursor: default;
  
      button, 
      a, 
      input,
      .clickable {
        cursor: pointer;
      }
    }
  }