$whatsapp-bg: #e5ddd5;
$whatsapp-message-bg-sent: #dcf8c6;
$whatsapp-message-bg-received: #ffffff;
$whatsapp-message-border: #ece5dd;
$whatsapp-text-color: #333;
$whatsapp-sent-text-color: #333;
$whatsapp-received-text-color: #4a4a4a;

$whatsapp-input-bg: #f0f0f0;
$whatsapp-button-bg: #0078fe;
$whatsapp-button-text: white;
$whatsapp-button-hover-bg: #005cbf;
$whatsapp-input-border: #ddd;
$whatsapp-input-focus-border: #0078fe;
$whatsapp-scrollbar-thumb: #888; // The color of the scrollbar thumb
$whatsapp-scrollbar-track: #f0f0f0; // The background color of the scrollbar track
$whatsapp-img-size: 40px; // Adjust the image size here
