// SCSS for App component


.app {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  background-color: $whatsapp-bg;
  padding: 10px;

  .sidebar {
    position: absolute;  
    top: 0;
    left: 0;
    width: 200px;         
    height: 100vh;
    background-color: $whatsapp-bg;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;           
  }

  .chat-window {
    // margin-left: 400px;   
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .message {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

    &.sent {
      justify-content: flex-start;

      .message-content {
        align-items: flex-start;
      }
    }

    &.received {
      justify-content: flex-end;

      .message-content {
        align-items: flex-end;
      }
    }

    .user-img {
      width: $whatsapp-img-size;
      height: $whatsapp-img-size;
      border-radius: 50%;
      object-fit: cover; // Ensures the image is cropped correctly
    }

    .message-content {
      max-width: 70%;
      display: flex;
      text-align: center;
      flex-direction: column;

      .message-header {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        color: $whatsapp-received-text-color;

        .timestamp {
          color: #888;
          font-size: 0.8rem;
          padding: 3px 10px;
        }
      }

      .message-text {
        background-color: $whatsapp-message-bg-sent;
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        color: $whatsapp-sent-text-color;
        margin-top: 5px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
        white-space: pre-wrap;
      }
    }
  }

  .message.received .message-text {
    background-color: $whatsapp-message-bg-received;
    border: 1px solid $whatsapp-message-border;
  }
}

.typing-indicator {
  margin-top: 10px;
  font-style: italic;
  color: #888;
  animation: typingAnimation 1s ease-in-out infinite;
}

@keyframes typingAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
